## DATABÁZE

### Relační databáze

- databáze založená na relačním modelu

### Relační model

- Základem jsou tabulky- jako jeden list sešitu MS Excel (celý sešit by pak odpovídal databázi). 
- Jednotlivé řádky tabulky jsou záznamy. 
- Ty se skládají z několika atributů (sloupců). 
- Řádky a sloupce odpovídají Excelovým řádkům a sloupcům.

### CRUD

Nad daty provádíme čtyři druhy operací:
- vytváření
- čtení
- úpravu 
- mazání

Tyto operace se sdružují do zkratky `CRUD` (Create, Read, Update, Delete).

### SQL

- Structured Querying Language 
- Strukturovaný dotazovací jazyk, který nám umožňuje komunikovat s databází. 
- Příkazy mohou být do databáze posílány z webové aplikace (Python, Javascript, ...), z terminálu, nebo třeba z aplikace přímo určené pro správu databáze.
- Příkazy jazyka psát VELKÝMI PÍSMENY, oddělujeme středníkem ;

`w3schools try sql editor`

#### Vytvoření tabulky

In [ ]:
/* Vytvoří tabulku ROBOT se sloupci ID, NAME a TYPE.
   ID je celé číslo, NAME a TYPE jsou řetězce.
*/

CREATE TABLE ROBOT (
    ID      INT     PRIMARY KEY,
    NAME    TEXT,
    TYPE    TEXT
)

#### INSERT

In [ ]:
-- Vloží do tabulky ROBOT nového Robota s ID 1, jménem Jim a typem AGGRESIVE
INSERT INTO ROBOT (ID, NAME, TYPE) VALUES (1, "Jim", "AGGRESSIVE");

-- Vloží do tabulky ROBOT další dva Roboty
INSERT INTO ROBOT (ID, NAME, TYPE) VALUES (2, "John", "DEFENSIVE"),(3, "Jack", "DEFENSIVE");

#### SELECT

In [ ]:
-- vypíše hodnoty všech sloupců pro všechny roboty
SELECT * FROM ROBOT;

-- vypíše jen jména všech robotů
SELECT NAME FROM ROBOT;

#### UPDATE

In [ ]:
-- nastaví všem robotům typ na AGGRESSIVE
UPDATE ROBOT SET TYPE = "AGGRESSIVE";

#### DELETE

In [ ]:
-- smaže všechny roboty
DELETE FROM ROBOT;

#### WHERE

In [ ]:
-- vypíše všechny řádky o robotech, které mají typ AGGRESSIVE
SELECT * FROM ROBOT WHERE TYPE = "AGGRESSIVE";

-- přejmenuje roboty, jejichž jména začínají na J, na Jimmy
UPDATE ROBOT SET NAME = "Jimmy" WHERE NAME LIKE "J%";

-- smaže robota s ID větším než 1
DELETE FROM ROBOT WHERE ID > 1;

#### Primární klíče - PRIMARY KEY

- Každá tabulka by měla mít sloupec, který jednoznačně identifikuje jednotlivé řádky. 
- Musí obsahovat unikátní hodnoty. 
- Uměle vytvořené číslo (nejčastěji nazývané ID), nebo unikátní identifikátor z reálného světa. 
- Je lepší používat uměle vytvořené primární klíče.

#### Cizí klíče - FOREIGN KEY

- Vazba mezi tabulkami. 
- V dceřiné tabulce je sloupec představující cizí klíč, jehož hodnoty se odkazují na primární klíč jiné tabulky.

![function](img/fk.png)

#### Spojování tabulek - JOIN

- Jeden dotaz pro čtení dat z více tabulek. 
- JOIN je součástí příkazu SELECT.
- V základní verzi vezme JOIN záznamy z jedné tabulky a připojí k nim odpovídající záznamy z druhé tabulky. 
- Na takto nově vzniklý řádek je možné udělat JOIN s další tabulkou.

In [ ]:
-- vypíše jména a příjmení zákazníků, kteří udělali objednávku za více než 500 Kč

SELECT ZAKAZNIK.JMENO, ZAKAZNIK.PRIJMENI
FROM ZAKAZNIK
JOIN OBJEDNAVKA ON OBJEDNAVKA.ZAKAZNIK_ID = ZAKAZNIK.ID
WHERE OBJEDNAVKA.CENA > 500;

#### Transakce

- Skupiny příkazů (SELECT, INSERT, ...), která se buď provede celá, nebo vůbec. 
- Pokud některý příkaz vyvolá chybu, tak se databáze vrátí do původního stavu.

- Důležité je ukončit, a to buď příkazem `COMMIT` nebo `ROLLBACK`. 
- `COMMIT` uloží změny trvale do databáze.
- `ROLLBACK` vrátí databázi do původního stavu.

### SQLite

- databázový systém
- jednoduchý, celá databáze v jednom souboru

In [3]:
import sqlite3

# Připojíme se k databázi (v souboru)
connection = sqlite3.connect('pyladies_example_1.db')

# Získáme instanci třídy `Cursor`, pomocí které bude do databáze posílat příkazy
cursor = connection.cursor()

In [4]:
# Pokud tabulka už existuje, tak ji odstraníme,
# abychom mohli skript spouštět opakovaně
cursor.execute("""DROP TABLE IF EXISTS ROBOT""")

# Vytvoříme jednoduchou tabulku
cursor.execute("""CREATE TABLE ROBOT (NAME TEXT, TYPE TEXT)""")

In [5]:
# Vložíme do tabulky data
cursor.execute("""
    INSERT INTO ROBOT (NAME, TYPE)
    VALUES ("JIM", "DEFENSIVE"), ("JACK", "OFFENSIVE")
""")

In [6]:
# Dotážeme se na všechny roboty, výsledky vypíšeme
robots = cursor.execute("SELECT * FROM ROBOT")
for robot in robots:
    print(robot)

# Uložíme změny a uzavřeme spojení
connection.commit()
connection.close()

('JIM', 'DEFENSIVE')
('JACK', 'OFFENSIVE')

In [8]:
# Složitejší příklad, který pracuje s primárními a cizími klíči
# a se spojováním tabulek

In [9]:
import sqlite3

# Připojíme se k databázi (v souboru)
connection = sqlite3.connect('pyladies_example_2.db')

# Získáme instanci třídy `Cursor`, pomocí které bude do databáze posílat příkazy
cursor = connection.cursor()

In [11]:
# Pokud tabulky už existují, tak ji odstraníme,
# abychom mohli skript spouštět opakovaně
cursor.execute("""DROP TABLE IF EXISTS ROBOT""")
cursor.execute("""DROP TABLE IF EXISTS BATTLE""")

# Vytvoříme tabulku s roboty a tabulky s výsledky bitev
cursor.execute("""
-- u jednotlivých roborů si ukládáme ID, jméno a typ
CREATE TABLE ROBOT (
    ROBOT_ID INT PRIMARY KEY,
    NAME TEXT,
    TYPE TEXT)
""")
cursor.execute("""
-- bitva se skládá z ID bitvy, ID vítěze a poraženého (odpovídají ID v tabulce ROBOT)
-- a z bodů pro vítěze a poraženého
CREATE TABLE BATTLE (
    BATTLE_ID INT PRIMARY KEY,
    WINNER_ID INT,
    LOSER_ID INT,
    WINNER_POINTS INT,
    LOSER_POINTS INT,
    FOREIGN KEY(WINNER_ID) REFERENCES ROBOT(ROBOT_ID),
    FOREIGN KEY(LOSER_ID) REFERENCES ROBOT(ROBOT_ID)
    )
""")

In [12]:
# Vložíme do tabulek data
cursor.execute("""
    INSERT INTO ROBOT (ROBOT_ID, NAME, TYPE) VALUES
    (1, "JIM", "DEFENSIVE"), (2, "JACK", "OFFENSIVE"), (3, "JIMMY", "OFFESIVE")
""")

cursor.execute("""
    INSERT INTO BATTLE (BATTLE_ID, WINNER_ID, LOSER_ID, WINNER_POINTS, LOSER_POINTS) VALUES
    (1, 1, 2, 10, 8), -- robot 1 porazil robota 2 se skóre 10:8 (v bitvě 1)
    (2, 2, 1, 6, 9),
    (3, 2, 3, 10, 9),
    (4, 1, 3, 5, 4),
    (5, 3, 2, 2, 0),
    (6, 1, 2, 9, 6)
""")

In [13]:
# Dotážeme se na výsledky bitev, které vyhrál robot se jménem "JIM"
scores = cursor.execute("""
    SELECT BATTLE.WINNER_POINTS, BATTLE.LOSER_POINTS
    FROM BATTLE
    JOIN ROBOT ON ROBOT.ROBOT_ID = BATTLE.WINNER_ID
    WHERE ROBOT.NAME = "JIM"
""")

for score in scores:
    print(score)

# Uložíme změny a uzavřeme spojení
connection.commit()
connection.close()

(10, 8)
(5, 4)
(9, 6)

### ORM

- V Pythonu logiku sdružujeme do tříd. 
- V databázích se data sdružují do tabulek. 
- O propojení těchto konceptů se stará ORM - `Object-relational Mapper`. 
- Pomocí ORM Frameworku (v Pythonu např. SQLAlchemy) vytváříme Python třídy, pro které existují odpovídající tabulky v databázi.